<%if (userStatus) {
%>

  <div class="row justify-content-end">
    <p class="col-auto " style="margin-right: 0.75em">Hello, <%=userName%></p>
    <form class="col-auto align-self-center" method="GET" action="/logout">
      <button class="btn-sm" style="margin-right:1em">Logout</button>
    </form>
  </div>

<%
}
else {%>

  <div class="row justify-content-end">
    <p class="col-auto">Hello, stranger</p>
  </div>

  <div class="row justify-content-end">
    <form method="GET" action="/login">
      <button class="btn-sm" style="margin-right:1em">Login</button>
    </form>
    <form method="GET" action="/register">
      <button class="btn-sm">Register</button>
    </form>
  </div>

<%}%>

