<p>Hello, someone</p>

<form method="GET" action="/login">
  <button class="btn btn-sm">Login</button>
</form>
<form method="GET" action="/register">
  <button class="btn btn-sm">Register</button>
</form>
