@import 'setup';

ul {
  list-style: none;
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}

@mixin btns($width) {
  border: none;
  border-radius: 2px;
  width: $width;
}

@mixin input($padding-top-bottom) {
  color: $color-dark-grey;
  border:none;
  width: 100%;
  text-indent: 3px;
  border-bottom: 1px solid $color-dark-grey;
  padding: $padding-top-bottom 0;
  background: $color-black;
}

@mixin underlined-text($width, $border-bottom, $padding-bottom) {
  width: $width;
  border-bottom: $border-bottom;
  padding-bottom: $padding-bottom;
}

%centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

%content-wrapper {
  border-radius: 3px;
  border: 1px solid $color-grey-black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 5em !important;
  margin: 2em auto
}

%event-wrapper {
  border-radius: 3px;
  background: $color-primary;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 3em;
  margin: 2em 0;
}

%button-to-link {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: $color-primary-contrast;
}

.form-check {
  margin: 1.5em 0;
}

.btn-sm {
  @include btns(132px);
  font-size: 2em;
  background-color: $color-primary-contrast;
  &:hover {
    background-color: $color-primary-contrast-focus;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

@mixin btn-lg($color-border, $color, $color-border-hover) {
  @include btns(270px);
  border: 3px solid $color-border;
  background-color: $color-black;
  color: $color;
  &:hover {
    border: 3px solid $color-border-hover;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.btn-lg {
  @include btn-lg($color-primary-contrast, $color-primary-contrast, $color-primary-contrast-focus);
}

.btn-lg-err {
  @include btn-lg($color-dark-bg-error, $color-dark-bg-error, $color-light-bg-error);
}

.btn-submit {
  margin-top: 1.5em;
  border: none;

  &:hover {
    color: $color-primary-contrast;
    border: none;
    cursor: pointer;
  }
  &:focus {
    border: none;
  }
}

.error-msg {
  color: $color-dark-bg-error;
  font-size: $font-size-small;
  margin: 0;
}

#add-timeslot,
.edit-input,
.delete-input {
  @extend %button-to-link;
}

#add-timeslot {
  margin: 10px 10px;
}

.delete-input {
  color: $color-dark-bg-error;
}

#link-view-event {
  color: $color-black;
}

a {
  font-size: 1em;
  color: $color-primary-contrast;
  &:hover {
    border: none;
    color: $color-primary-contrast-focus !important;
  }
  &:visited {
    color: $color-primary-contrast;
  }
}

textarea {
  background-color: $color-black;
  color: $color-white;
}

input {
  @include input(10px);
  color: $color-white;
  &:focus,
  &:hover {
    outline: none;
    border-bottom: 1px solid $color-light-grey;
  }
}

input.row {
  margin-left: 0;
  margin-right: 0;
}

.user-input {
  margin: 1em 0;

  p{
    margin: 0 auto;
  }
}

label {
  color: $color-white;
  margin-left: 1.5em;
}

