@import 'setup';

ul {
  list-style: none;
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}
@mixin btns($width) {
  border: none;
  border-radius: 2px;
  width: $width;
}

@mixin input($padding-top-bottom) {
  color: $color-dark-grey;
  border:none;
  width: 270px;
  text-indent: 3px;
  border-bottom: 1px solid $color-dark-grey;
  padding: $padding-top-bottom 0;
  background: $color-black;
}

@mixin underlined-text($width, $border-bottom, $padding-bottom) {
  width: $width;
  border-bottom: $border-bottom;
  padding-bottom: $padding-bottom;
}

%centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

%content-wrapper {
  border-radius: 3px;
  border: 1px solid $color-grey-black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 5em !important;
  margin: 2em auto
}

%event-wrapper {
  border-radius: 3px;
  background: $color-primary;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 3em;
  margin: 2em 0;
}

.btn-sm {
  @include  btns(132px);
  font-size: 2em;
  background-color: $color-primary-contrast;
  &:hover {
    background-color: $color-primary-contrast-focus;
    cursor: pointer;
  }
}

.btn-lg {
  @include btns(270px);
  border: 3px solid $color-primary-contrast;
  background-color: $color-black;
  color: $color-primary-contrast;
  &:hover {
    border: 3px solid $color-primary-contrast-focus;
    cursor: pointer;
  }
}

.error-msg {
  color: $color-dark-bg-error;
}

a {
  font-size: 1em;
  color: $color-primary-contrast;
  &:hover {
    border: none;
    color: $color-primary-contrast-focus !important;
  }
  &:visited {
    color: $color-primary-contrast;
  }
}

input {
  @include input(10px);
  &:focus,
  &:hover {
    outline: none;
    border-bottom: 1px solid $color-light-grey;
  }
}

.btn-submit {
  margin-top: 2em;
  width: 50%;
  border: none;

  &:hover{
    color: $color-primary-contrast;
    border: none;
  }
}
