@import 'setup';

ul {
  list-style: none;
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}
@mixin btns($width) {
  height: 30px;
  background-color: $color-secondary;
  border: none;
  border-radius: 2px;
  width: $width;
}

@mixin input($padding-top-bottom) {
  border:none;
  border-bottom: 1px solid $color-dark-grey;
  padding: $padding-top-bottom 0;
}

%flexbox{
  display: flex;
  align-items: center;
}

.btn-sm {
  @include  btns(88px);
}

.btn-lg {
  @include btns(270px);
}

input {
  @include input(10px);
}
