@import 'setup';
@import 'comp';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-black !important;
  h1,
  h2,
  h3,
  p {
    color: $color-white;
  }

  h1 {
    margin-top: 2em;
  }

  h2 {
    @include underlined-text(100%, 1px solid $color-dark-grey, 0.75em);
    transform: translateX(10px);
  }

  p {
    margin: 2em 0;
  }
}

.content-wrapper {
  @extend %content-wrapper;
  background-color: $color-black;
}

.event-wrapper {
  @extend %event-wrapper;
  h3 {
    @include underlined-text(100%, 1px solid $color-light-grey, 0.75em);
  }
}

#login,
#registration,
#who-is-this,
#returning-guest,
#first-time-guest,
#event-host,
#not-found {
  @extend %centered-form;
  width: 300px;
}

#create-event {
  @extend %centered-form;
  width: 70%;
}

// locally on event.ejs
.host-input-on-save {
  border: none;
}

// locally on whoisthis.ejs
.form-check {
  margin: 0;
}





