@import 'setup';
@import 'comp';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-black !important;
  h1,
  h3,
  p {
    color: $color-white;
  }

  h3 {
    width: 100%;
    border-bottom: 1px solid $color-white;
    padding-bottom: 0.75em;
  }

  .content-wrapper {
    @extend %content-wrapper;
    background-color: $color-black;
  }

  .event-wrapper {
    @extend %event-wrapper;
  }
}

