@import 'setup';
@import 'comp';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-black !important;
  h1,
  h2,
  h3,
  p {
    color: $color-white;
  }

  h1 {
    margin-top: 2em;
  }

  h2 {
    @include underlined-text(100%, 1px solid $color-dark-grey, 0.75em);
    transform: translateX(10px);
  }

  h3 {
    @include underlined-text(100%, 1px solid $color-light-grey, 0.75em);
  }

  p {
    margin: 2em 0;
  }
}

.content-wrapper {
  @extend %content-wrapper;
  background-color: $color-black;
}

.event-wrapper {
  @extend %event-wrapper;
}

#login,
#registration {
  @extend %centered-form;
}
