<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
  <head>
    <title>Doodle Doop Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/validation.js"></script>
  </head>

  <body>
    <header class="container">
      <h1 class="row justify-content-start">DoodleDoop</h1>
    </header>

    <form id='login'>
      <ul>

        <li><input type="email" name="email" placeholder="email" /></li>

        <li><input type="password" name="passid" placeholder="password" /></li>

        <li><input class="btn-submit"type="submit" name="submit" value="Submit" /></li>

      </ul>
    </form>


  </body>
</html>
