<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Invitation to: </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="container">
     <a href="/"><h1 class="row justify-content-start">DoodleDoop</h1></a>
    </header>

    <section class="container content-wrapper">
      <div class="row user-input">
        <h2 class="text-center">Event Invitation</h2>
      </div>

      <div class="row user-input">
        <h3 class="text-center">EVENT TITLE</h3>
      </div>

      <div class="row user-input">
        <p>Event description</p>
      </div>

      <form class="container user-input" id="timeslot-form" style="margin-left: 10px">

        <div class="row btn-group-toggle user-input" data-toggle="buttons">
          <label class="btn btn-sm" style="background:#f7e9c0 !important">
            <input type="radio" name="not-going" id="not-going" autocomplete="off">I'm not going
          </label>
        </div>

        <div class="row user-input">
          <input class="form-check-input" type="checkbox" value="" id="timeslotcheck1">
          <label class="form-check-label" for="timeslotcheck1">first timeslot here</label>
        </div>

        <div class="row user-input">
          <input class="form-check-input" type="checkbox" value="" id="timeslotcheck2">
          <label class="form-check-label" for="timeslotcheck2">second timeslot here</label>
        </div>

        <div class="row justify-content-end">
          <a class="col-auto align-self-center btn-submit" href="/">Cancel</a>
          <input class="col-auto btn-submit" type="submit" name="submit" values="Save Change" />
        </div>
      </form>

    </section>
  </body>
</html>
