<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Invitation to: </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="container">
      <h1 class="row justify-content-start">DoodleDoop</h1>
    </header>

    <section class="container content-wrapper">
      <div class="row">
        <h3 class="col-auto text-center">Event Invitation</h3>
      </div>

      <div class="row">
        <button id="whether-going">I'm not going.</button>
      </div>

      <form class="user-input" id="timeslot-form">
        <div class="row">
          <input class="form-check-input" type="checkbox" value="" id="timeslotcheck1">
          <label class="form-check-label" for="timeslotcheck1">first timeslot here</label>
        </div>

        <div class="row">
          <input class="form-check-input" type="checkbox" value="" id="timeslotcheck2">
          <label class="form-check-label" for="timeslotcheck2">second timeslot here</label>
        </div>

        <div class="row justify-content-end">
          <input class="col-auto btn-submit"type="submit" name="submit" value="Cancel" />
          <input class="col-auto btn-submit" type="submit" name="submit" values="Save Change" />
        </div>
      </form>

    </section>
  </body>
</html>
