<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <h1>DoodleDoop</h1>
      <% include partials/_header %>
    </header>

    <section class="content-wrapper">
      <div class="event-wrapper">
        <h3>Events Title</h3>
        <p class="event-description">
          This is event is hosted by your beloved friend. It takes place right after midterms we can do get drunk and do hard drug.
        </p>
        <button id="btn-view-event">View</button>
      </div>

      <h3>This is a tiny app for your big events.</h3>
      <p>Create an event today. <br>Send your invitation to your friends. <br> It's that easy!</p>
      <button id="btn-create-event">Create an Event</button>
    </section>
  </body>
</html>
